* {
    font-family: arial, sans-serif;
}

table {
    text-align: center;
    padding: 10px;
    margin: 30px auto;
}

table td,
th {
    font-size: 20px;
    color: #111;
    padding: 15px;
}

tr:nth-child(odd) {
    background: #81bae3;
}

tr:nth-child(even) {
    background: #ccc;
}

tr:last-child > td:first-child {
    border-radius: 0 0 0 15px;
}

tr:last-child > td:last-child {
    border-radius: 0 0 15px 0;
}


tr:first-child > th:first-child {
    border-radius: 15px 15px 0 0;
}
