* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

nav {
    background: #fff;
    padding: 20px 30px;
    box-shadow: 1px 2px 8px -3px #111;
}

a {
    text-align: center;
    color: #242323;
    font-size: 12px;
    padding: 23px 8px 19px 8px;
}

a:hover {
    border-bottom: 2px solid #041f36;
    color: #041f36;
    /*background: #f2f2f2;*/
}

main {
    width: 1200px;
    margin: 40px auto;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

article {
    margin: auto;
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 24);
    width: 20%;
    height: 250px;
    text-align: center;
    border-radius: 200px;
    overflow: hidden;
}

article:hover {
    box-shadow: 1px 1px 10px -1px #2442e8;
}

img {
    transition: all 0.3s;
    max-width: 100%;
    margin: auto;
    margin-top: 40px;
    width: 150px;
    height: 150px;
}

img:hover {
    transform: scale(1.1);
}
